@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Mvc.Rendering
@model FARApplication.Web.Models.FAR
@{
    Layout = null;
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>FAR Requst</title>
    <link href="~/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/asset/toastr/css/toastr.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/asset/toastr/js/toastr.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    @{
        var Mode = ViewBag.Mode;
        var UserType = ViewBag.UserType;
    }
    <form asp-controller="FAR" asp-action="Update" method="post" enctype="multipart/form-data">
        <div style="background-color: black" class="container-fluid">
            
            <button class="close-btn" type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"><i class="fa fa-close"></i> Close</button>


            @if (Mode == "Admin")
            {
                <button class="save-btn" type="submit" name="Mode" value="Save"><i class="fa fa-save"></i> Save</button>
                <button class="save-close-btn" type="submit" name="Mode" value="SaveClose"><i class="fa fa-save"></i> Save & Close</button>
                <button class="submit-button" type="submit" name="Mode" value="Approve"><i class="fa fa-paper-plane" aria-hidden="true"></i>Approve</button>
                <button class="submit-button" type="submit" name="Mode" value="Reject"><i class="fa fa-paper-plane" aria-hidden="true"></i>Reject</button>
            }
            @if (Mode == "User")
            {
                <button class="save-btn" type="submit" name="Mode" value="Save"><i class="fa fa-save"></i> Save</button>
                <button class="save-close-btn" type="submit" name="Mode" value="SaveClose"><i class="fa fa-save"></i> Save & Close</button>
                <button class="submit-button" type="submit" name="Mode" value="Submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit for Approval</button>

            }

        </div>
        <partial name="_HeaderPartial" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5"></div>
                <div class="col-lg-5">
                    <p style="white-space: nowrap ;text-align: right;" id="warning"><span id="red-text">Note:</span> Fields marked with <span id="red-text">*</span> are mandatory</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;" class="col-lg-10">
                    <p><b>Document Information</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label id="label-FARRequest" for="Far-request-id">FAR Request ID:</label>
                </div>
                <div class="col-lg-3">
                    <input class="input-box" type="text" asp-for="RequestId" id="Far-request-id" readonly />
                </div>
                <div class="col-lg-2">
                    <label id="label-FARRequest" for="Document-Status">DocumentStatus:</label>
                </div>
                <div class="col-lg-3">
                    <input class="input-box" type="text" id="Document-LifeCycleStatus" asp-for="LifeCycleStatus" readonly />
                    <input class="input-box" type="hidden" id="Document-Status" asp-for="Status" />
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label style="margin-top: 5px;" for="Created-By">Created By:</label>
                </div>
                <div class="col-lg-3">
                    <input style="margin-top: 3px;" class="input-box" type="text" id="Created-By" asp-for="CreatedBy" readonly />
                </div>
                <div class="col-lg-2">
                    <label style="margin-top: 5px;" for="Created-On">Created On:</label>
                </div>
                <div class="col-lg-3">
                    <input style="margin-top: 3px;" type="text" id="Created-On" asp-for="CreatedOn" readonly />
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                    <p><b>Request Information</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label for="Summary"><span id="red-text" class="red-text">*</span>Summary:</label>
                </div>
                <div class="col-lg-8">
                    <input style="width: 100%;" asp-for="Summary" type="text" id="Summary" readonly="@((Mode == "User" && (Model.Status==1 || Model.Status==5 )) ? null : "readonly")" required />
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label for="Details" style="margin-top: 5px;"><span id="red-text">*</span>Details:</label>
                </div>
                <div class="col-lg-4">
                    <textarea type="text" style="margin-top: 3px;width: 100%;" asp-for="Details" id="Details" readonly="@((Mode == "User" && (Model.Status==1 || Model.Status==5 )) ? null : "readonly")" required></textarea><br>
                    @*<textarea style="width: 100%;" id="Details" asp-for="Details" rows="3" cols="50" required></textarea><br>*@
                    @*<input type="file" name="Upload File" accept=".xlsx, .xls" style="margin-top: 3px;width: 100%;" asp-for="Details" id="Details" required />*@
                </div>
                <div class="col-lg-4">
                    <input type="file" accept=".xlsx, .xls" style="margin-top: 3px;width: 100%;" asp-for="Filename" name="updatedPostedFiles" disabled="@((Mode == "User" && (Model.Status==1 || Model.Status==5 )) ? null : "disabled")" />
                    @if (!string.IsNullOrEmpty(Model.Filename))
                    {
                        <label asp-for="Filename"> @Model.Filename.Substring((Model.Filename).IndexOf('_') + 1) </label> @Html.ActionLink("Download", "DownloadFile", "FAR", new { FARId = Model.Id }, new { @class = "link-primary" })
                        <input class="input-box" type="hidden" id="Filename" asp-for="Filename" />
                    }
                </div>
                @* <div class="col-lg-8">
                        <input type="text" style="margin-top: 3px;width: 100%;" asp-for="Details" id="Details" readonly="@((Mode != "Admin") ? null : "readonly")" required /><br>
                    </div>*@
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="User.Id" />
                <input type="hidden" asp-for="User.FirstName" />
                <input type="hidden" asp-for="User.LastName" />
                <input type="hidden" asp-for="User.Password" />
                <input type="hidden" asp-for="User.IsActive" />
                <input type="hidden" asp-for="User.ApprovalLevel" />
                <input type="hidden" asp-for="User.EmailId" />


                @*<div class="col-lg-1"></div>
                    <input type="file" name="postedFiles" />*@
            </div>
        </div>

        @{
            int counter = 0;
            @if (Model.Approverdetails != null && Model.Approverdetails.Count > 0)
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                            <p><b>Approver Information</b></p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            }
            @foreach (FARApprover appmodel in Model.Approverdetails)
            {

                counter = counter + 1;

                <div>
                    <input type="hidden" asp-for="@Model.Approverdetails[counter - 1].Id" />
                    <input type="hidden" asp-for="@Model.Approverdetails[counter - 1].FARId" />
                    <input type="hidden" asp-for="@Model.Approverdetails[counter - 1].UserId" />
                    <input type="hidden" asp-for="@Model.Approverdetails[counter - 1].FAR" />
                </div>

                <div class="container-fluid">
                    <div style="margin-top: 4px;" class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">
                            <label for="FirstApprover"><span id="red-text">*</span>Approver @counter Name:</label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" value="@FARApplication.Web.Utility.UserUtility.GetUserFullNameById(appmodel.UserId).Result" readonly />
                        </div>


                        <div class="col-lg-1"></div>
                    </div>
                    <div style="margin-top: 4px;" class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">
                            <label for="first-Approver-comments"><span id="red-text">*</span>Comments:</label>
                        </div>
                        <div class="col-lg-8">
                            @if (counter == 1)
                            {
                                <input style="width: 100%;" type="text" asp-for="@Model.Approverdetails[counter - 1].Comments" readonly="@((UserType == "Approver1" && Model.Status == 2) ? null : "readonly")" required />
                                //Model.User.ApprovalLevel.ToString() == "FirstLevel"
                            }
                            else if (counter == 2)
                            {
                                <input style="width: 100%;" type="text" asp-for="@Model.Approverdetails[counter - 1].Comments" readonly="@((UserType == "Approver2" && Model.Status == 3) ? null : "readonly")" required />
                            }
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div style="margin-top: 4px;" class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">
                            <label for="First-Approver-Signature-date-stamp">Signature Date/Time:</label>
                        </div>
                        <div class="col-lg-8">
                            @if (counter == 1)
                            {
                                <input type="date" asp-for="@Model.Approverdetails[counter - 1].ApprovedDate" readonly="@(( UserType=="Approver1" && Model.Status==2) ? null : "readonly")" required />
                            }
                            else if (counter == 2)
                            {
                                <input type="date" asp-for="@Model.Approverdetails[counter - 1].ApprovedDate" readonly="@(( UserType=="Approver2" && Model.Status==3) ? null : "readonly")" required />
                            }
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>

            }
        }


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                    <p><b>Document Event Log</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        @{
            int index = 0;
            @foreach (var eventmodel in Model.FAREventLogs)
            {

                <div style="margin-bottom: 20px;" class="container-fluid">
                    <div style="margin-top: 10px;" class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].Id" />
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].FAR" />
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].EventDate" />
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].Message" />
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].User" />
                            <input type="hidden" asp-for="@Model.FAREventLogs[index].FARId" />

                            <p>Document is @eventmodel.Message on @System.String.Format(@eventmodel.EventDate.ToString(), "dd-MMM-YYYY")</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                index = index + 1;
            }
        }
        <div>@ViewBag.SuccessResult</div>
    </form>
    @*<script>
                var today=new Date();
                var date=today.getDay()+"-"+(today.getMonth()+1)+"-"+today.getFullYear()+" "
                            +today.getHours()+":"+today.getMinutes();
                document.getElementById("currentdate").innerHTML=date;
        </script>*@
    <script src="~/asset/bootstrap/js/bootstrap.bundle.min.js"></script>


    @if (ViewBag.SuccessResult != null)
    {
        <script type="text/javascript">

        window.onload = function () {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,

                    "showMethod": "show",
                    "hideMethod": "fadeOut",
                    "timeOut": 0,
                    "extendedTimeOut": 0
                }
                toastr.success("@ViewBag.SuccessResult", 'Success');

        }
        </script>
    }


    @if (ViewBag.FailureResult != null)
    {
        <script type="text/javascript">

        window.onload = function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,

                "showMethod": "show",
                "hideMethod": "fadeOut",
                "timeOut": 0,
                "extendedTimeOut": 0
            }
            toastr.error("@ViewBag.FailureResult", 'Error');

        }

        </script>
    }

    @if (ViewBag.FarCreationMsg != null)
    {
        <script type="text/javascript">

        window.onload = function () {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,

                    "showMethod": "show",
                    "hideMethod": "fadeOut",
                    "timeOut": 0,
                    "extendedTimeOut": 0
                }
                toastr.success("@ViewBag.FarCreationMsg", 'Success');

        }
        </script>
    }

</body>
</html>