
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FARApplication.Web</title>
    <link href="~/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/asset/sidebar/css/sidebars.css" rel="stylesheet">
    <link href="~/asset/toastr/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <partial name="_HeaderPartial" />
    </header>

    <div class="container">



        <main role="main" class="pb-3">

            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">

                <ul class="list-unstyled ps-0">
                    <li><a href="@Url.Action("Index", "Far")" class="btn btn-toggle align-items-center rounded">New FAR Request</a></li>

                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#Request-collapse" aria-expanded="true">
                            View Requests
                        </button>
                        <div class="collapse show" id="Request-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">By Status</a></li>
                                <li><a href="#" class="link-dark rounded">By FAR ID</a></li>
                                <li><a href="#" class="link-dark rounded">By Submitter</a></li>
                                <li><a href="#" class="link-dark rounded">By Next Approver</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded " data-bs-toggle="collapse" data-bs-target="#Administration-collapse" aria-expanded="true">
                            Administration
                        </button>
                        <div class="collapse show" id="Administration-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="@Url.Action("ConfigurationProfile", "Administration")" class="link-dark rounded">Configuration Profile</a></li>
                                @*<li><a href="#" class="link-dark rounded">Replication Conflicts</a></li>
                                    <li><a href="#" class="link-dark rounded">Trash</a></li>*@

                            </ul>
                        </div>
                    </li>



                </ul>
            </div>

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted d-flex justify-content-end">
        <partial name="_FooterPartial" />
    </footer>

    @*<footer class="border-top footer text-muted d-flex justify-content-end">
            <div class="container">
                &copy; 2022 - FARApplication.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/asset/toastr/js/toastr.js"></script>
    <script src="~/asset/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/asset/sidebar/js/sidebars.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
