
@using FARApplication.Web.Utility;
@using System.Web.Mvc;
@using System.Web.Mvc.Html
@using Microsoft.AspNetCore.Mvc.Rendering;

@model FARViewModel

@{
    ViewData["Title"] = "Index";
}


<div style="margin-top:22px;text-transform: capitalize;font-size: small;" class="container-fluid">

    <link rel="stylesheet" href="~/css/site.css" />
    <div class="row">
        <div class="col-lg-12">
           
            <form asp-action="Index" asp-antiforgery="true" asp-controller="Home">
                <div style="margin-top: 10px;" class="col-rg-3">

                    <table align="right">
                      
                            <tr>
                                <td>@Html.TextBox("search")</td>
                                <td> <input type="submit" value="Search" /></td>
                            </tr>
                        
                    </table>

                </div>
            <table style="border-collapse: separate;  border-spacing: 0px 7px;" class="table" id="tblgrid">
                
                    <tr>
                        <th>
                        FARId <img class="ibmimg" style="width:20px" src="~/asset/images/UpDown.png"/>

                        </th>
                        <th>
                        Creator Name <img class="ibmimg" style="width:20px" src="~/asset/images/UpDown.png" />
                        </th>
                        <th>
                        Created On <img class="ibmimg" style="width:20px" src="~/asset/images/UpDown.png" />

                        </th>
                        <th>

                        Status <img class="ibmimg" style="width:20px" src="~/asset/images/UpDown.png" />
                        </th>
                        <th>
                        Summary <img class="ibmimg" style="width:20px" src="~/asset/images/UpDown.png" />

                        </th>

                    </tr>
                
                
                    @if (Model.FARs.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">No FAR ID found</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.FARs)
                        {
                            <tr>
                                <td>
                                    @Html.EncodedActionLink(item.RequestId,"GetFARResult","FAR", new { FARId = item.Id }, new { @class = "link-primary"})
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LifeCycleStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>                      
                            </tr>
                        }
                       
                       
                    }
                
            </table>
            <table id="tblPageing">
                    <tr>
                        <td align="right" colspan="5">
                            <b>Total Record Count:</b> @Model.TotalRecordCount

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {

                                @if (i != Model.CurrentPageIndex)
                                {

                                    <span><a href="javascript:PagerClick(@i);"> @i </a></span>

                                }
                                else
                                {
                                    <span>@i</span>
                                }

                            }
                        </td>
                        
                    </tr>

            </table>
              
                <input type="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex" value="@Model.CurrentPageIndex" />
                <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Search By Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <br />
                                    <br />
                                    <dl class="row">
                                        <dt>
                                            <span>Status</span>
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DropDownList("SelectedStatus",
                                            Html.GetEnumSelectList<DocumentStatus>(),
                                            "Select Status",new { @class = "form-control" })


                                        </dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="submiterModal" tabindex="-1" role="dialog" aria-labelledby="submiterModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="submiterModalLabel">Search By Submiter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <br />
                                    <br />
                                    <dl class="row">
                                        <dt>
                                            <span>Status</span>
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DropDownList("SelectedSunmiter",
                                            Html.GetEnumSelectList<DocumentStatus>(),
                                            "Select Submiter",new { @class = "form-control" })


                                        </dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {
        
        $("#status").autocomplete({
            source: function (request, response) {
               
                $.ajax({
                    //url: 'http://localhost:16460/Search/Index',
                    url: 'http://localhost:5000/api/Search/GetFARRequestId',
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    data: { "prefix": request.term },
                    type:"GET",
                    datatype: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            var result = JSON.stringify(item);
                            
                            var strresult = JSON.parse(result);
                           // alert(strresult.id);
                            return { value: strresult.id };
                        }))

                    },
                
            
            error: function (xhr, textStatus, error) {
                        alert(xhr.statusText);
                    },
                   
                });
            },
            select: function (e, i) {
                alert(i.item.val);
                $("#lblVendorName").text(i.item.value);
            },
            minLength: 1
        });
    });

    
  
</script>

<script>
    $(document).ready(function () {
        var flag = false;

        $("th").click(function () {
            flag = !flag;
            var columnIndex = $(this).index();
            var tdArray = $(this).closest("table")
                .find("tr td:nth-child(" + (columnIndex + 1) + ")");
            tdArray.sort(function (p, n) {
                var pData = $(p).text();
                var nData = $(n).text();
                if(flag)
                {
                return pData < nData ? -1 : 1;
                }
                else{
                    return pData > nData ? -1 : 1;

                }
             
            });
            tdArray.each(function () {
                var row = $(this).parent();
                $("#tblgrid").append(row);
            });
        });
    });

    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }

</script>

